header {
	background: #BBBBBB;
	padding: 20px 0;
} 

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}
nav {
	position: absolute;
	top: 110px;
	right: 0;
}
nav li {
	display: inline;
	margin: 0 0 0 15px;
}
nav a {
	text-transform: uppercase;
	color: #OOOOOO;
	font-weight: bold;
	font-size: 22px ;
	text-decoration: none;
}
nav a:hover {
	color: darkred;
	text-decoration: underline;
}
body {
	
}

#baner{
	width:100% ;
}
.principal {
	background: #CCCCCC;
	padding: 30px;
}

.titulo-principal {
	padding: 20px;
}

.titulo-nocentro {
	text-align: center;
}

p {
	text-align: center;
	font-size: 17px;
}

#jpl {
	font-size: 20px;
}

me strong {
	color: red;
}

strong {
	color: darkblue;
}

.itens {
	font-style: italic;
}
.Benefícios {
	background: #FFFFFF;
	padding: 20px;
}


ul {
   display: inline-block;
   vertical-align: top;
   width: 20%;
   margin-right: 15%;
}

.imagembeneficios {
 width: 50%;
}

footer {
	text-align: center;
	background: url(bj.jpeg);
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}
